# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import gmaps.datasets
import json
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
file = "../WeatherPy/export_weather_data.csv"
df = pd.read_csv(file)
df

,Unnamed: 0,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Chimbote,-9.0853,-78.5783,294.92,73,48,4.26,PE,1622392736
1,1,Cidreira,-30.1811,-50.2056,287.23,45,0,5.02,BR,1622392737
2,2,Berlevåg,70.8578,29.0864,279.15,86,97,11.79,NO,1622392737
3,3,Mataura,-46.1927,168.8643,282.86,97,100,1.58,NZ,1622392738
4,4,La Orilla,17.9833,-102.2333,304.32,52,55,2.92,MX,1622392738
...,...,...,...,...,...,...,...,...,...,...
555,559,Tuatapere,-46.1333,167.6833,283.05,96,100,3.72,NZ,1622392781
556,560,Longonjo,-12.9067,15.2533,292.13,35,16,0.78,AO,1622392884
557,561,Hadsund,56.7148,10.1168,296.10,69,1,1.98,DK,1622392884
558,562,Athabasca,54.7169,-113.2854,290.98,51,8,2.73,CA,1622392750
559,563,Cusuna,15.8500,-85.2333,305.35,46,93,3.58,HN,1622392885

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [60]:
locations = df[["Lat", "Lon"]]
weights = df["Humidity"]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [58]:
city_df = df.loc[(df["Max Temp"] < 280) \
                                    & (df["Wind Speed"] < 10) \
                                    & (df["Cloudiness"] == 0)].dropna()
hotel_df = city_df[["City", "Country", "Lat", "Lon"]].copy()
hotel_df

             City Country      Lat       Lon
306         Pevek      RU  69.7008  170.3133
341   Cootamundra      AU -34.6500  148.0333
344  Batemans Bay      AU -35.7167  150.1833
347     Swan Hill      AU -35.3378  143.5544
368        Anadyr      RU  64.7500  177.4833

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [61]:
# Add Hotel Name column to dataframe
hotel_df["Hotel Name"] = ""
hotel_df

             City Country      Lat       Lon Hotel Name
306         Pevek      RU  69.7008  170.3133
341   Cootamundra      AU -34.6500  148.0333
344  Batemans Bay      AU -35.7167  150.1833
347     Swan Hill      AU -35.3378  143.5544
368        Anadyr      RU  64.7500  177.4833

In [56]:
# Get hotel information with API call
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
params = {"types": "lodging", "radius": 5000, "key": g_key}
hotel_list = []

for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lon = row["Lon"]
    params["location"] = f"{lat},{lon}"
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    response = requests.get(url , params=params).json()
    hotel_list.append(response["results"])
pprint(hotel_list[0])

{'business_status': 'OPERATIONAL',
 'geometry': {'location': {'lat': 69.7029321, 'lng': 170.307033},
              'viewport': {'northeast': {'lat': 69.70426518029151,
                                         'lng': 170.3083816302915},
                           'southwest': {'lat': 69.7015672197085,
                                         'lng': 170.3056836697085}}},
 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/v1/png_71/lodging-71.png',
 'name': 'Hotel ABC',
 'place_id': 'ChIJ0_tX9_Y9GloRMhtCoDhrXnA',
 'plus_code': {'compound_code': 'P834+5R Pevek, Chukotka Autonomous Okrug, '
                                'Russia',
               'global_code': '9VXGP834+5R'},
 'reference': 'ChIJ0_tX9_Y9GloRMhtCoDhrXnA',
 'scope': 'GOOGLE',
 'types': ['lodging', 'point_of_interest', 'establishment'],
 'vicinity': 'Pevek'}

In [65]:
# Loop through the api call response to get hotel name for each city
params = {"types": "lodging", "radius": 5000, "key": g_key}


for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lon = row["Lon"]
    params["location"] = f"{lat},{lon}"
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

    response = requests.get(url, params=params).json()
   

    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [66]:
hotel_df.to_csv("Hotel.csv")
hotel_df

             City Country      Lat       Lon                  Hotel Name
306         Pevek      RU  69.7008  170.3133                   Hotel ABC
341   Cootamundra      AU -34.6500  148.0333   Cootamundra Gardens Motel
344  Batemans Bay      AU -35.7167  150.1833  Batemans Bay Marina Resort
347     Swan Hill      AU -35.3378  143.5544        Lazy River Motor Inn
368        Anadyr      RU  64.7500  177.4833         Гостиница "Анадырь"

In [67]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lon"]]

In [72]:
# Add marker layer ontop of heat map
fig = gmaps.figure()
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))